ul.a {
    list-style-type: circle;
}

.gradient-background {
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=4c35a5&c2=0707ad&gt=l&gd=dtt
*/
    background: #4C35A5;
    background: linear-gradient(0deg, #4C35A5, #0707AD);
}

.btn {
    color: antiquewhite;
}

.lead {
    color: antiquewhite;
}

.name {
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1;
    color: antiquewhite;
    font-size: 50px;
}

.accordion-button {
    background: #4C35A5;
    background: linear-gradient(0deg, #4C35A5);
    color: antiquewhite;
    font-size: 20px;
    font-weight: 300;
}

.custom-bg {
   background: #4C35A5;
    background: linear-gradient(0deg, #4C35A5);
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.scrollspy-example {
    position: relative;
    height: 300px;
    overflow: auto;
}

.hero-background {
  background-color: #4C35A5; /* beige example */
}

.footer-background {
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=4c35a5&c2=0707ad&gt=l&gd=dbb
*/
background: #4C35A5;
background: linear-gradient(180deg, #4C35A5, #0707AD);
}
